<!DOCTYPE html>

<head>
  <title>Messages</title>

  <style>
    body {
      font-family: sans-serif;
      display: flex;
      justify-content: space-around;
    }

    .container {
      display: block;
    }

    .table {
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
    }

    .table th,
    .table td {
      padding: 12px 15px;
    }

    .table td.status {
      text-align: center;
    }

    .table td.actions {
      text-align: center;
    }

    .republish {
      position: relative;
      padding: 0;
      font-size: 24px;
      text-align: center;
      color: #009879;
      border: none;
      outline: none;
      cursor: pointer;
      background: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      transition: transform 0.4s ease-in-out;
    }

    .reload {
      font-family: Lucida Sans Unicode
    }

    .tooltip {
      position: relative;
      display: inline-block;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      background-color: #555;
      color: #fff;
      text-align: center;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 6px;

      /* Position the tooltip text */
      position: absolute;
      z-index: 1;
      bottom: 80%;
      left: 15%;
      margin-left: -35px;

      /* Fade in tooltip */
      opacity: 0;
      transition: opacity 0.3s;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    .table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    .table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }

    ul {
      list-style: none;
    }

    pre {
      outline: 1px solid #ccc;
      padding: 5px;
      margin: 15px;
    }

    .string {
      color: green;
    }

    .number {
      color: darkorange;
    }

    .boolean {
      color: blue;
    }

    .null {
      color: magenta;
    }

    .key {
      color: red;
    }

    .pagination {
      display: block;
    }

    .pagination a {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
    }

    .pagination {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .pagination li {
      list-style-type: none;
      display: inline-block;
    }

    .pagination li a {
      position: relative;
      padding: 10px 15px;
      text-decoration: none;
      color: #fff;
      font-weight: 500;
    }
  </style>
</head>

<body>
  <div class="container">
    Total: {{.Total}}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Metadata</th>
          <th>Payload</th>
          <th>Published</th>
          <th>At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{range .Msgs}}
        <tr>
          <td>{{ .ID }}</td>
          <td>
            <ul>
              {{range $key, $v := .Metadata}}
              <li>
                <strong>{{$key}}:</strong> {{$v}}
              </li>
              {{end}}
            </ul>
          </td>
          <td>
            <pre class="json">{{ prettyJson .Payload }}</pre>
          </td>
          <td class="status">
            {{ if .Published }}
            ✅
            {{ else }}
            ❌
            {{ end }}
          </td>
          <td class="created_at">{{ formatDate .At }}</td>
          <td class="actions">
            {{ if .Published }}
            <button class="republish tooltip" onclick="republish({{ .ID }})">
              <span class="reload">&#x21bb;</span>
              <div class="tooltiptext">Republish message</div>
            </button>
            {{ end }}
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
    <div class="pagination">
      {{ $prev_page := (prevPage .Page)}}
      {{if (ne $prev_page 0)}}
      <li><a href="?page={{$prev_page}}">prev</a></li>
      {{end}}
      <strong>{{.Page}}</strong>
      <li><a href="?page={{nextPage .Page}}">next</a></li>
    </div>
  </div>
  <script>
    async function republish(msg_id) {
      const resp = await fetch(window.location.pathname+"/republish",{
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({message_ids:[msg_id]})
      });
      if (resp.status === 200) {
        location.reload();
      }
    }

    function syntaxHighlight(json) {
      if (!json) return ""; //no JSON from response

      json = json
        .replace(/&/g, "&amp;")
        .replace(/</g, "&lt;")
        .replace(/>/g, "&gt;");
      return json.replace(
        /("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
        function (match) {
          var cls = "number";
          if (/^"/.test(match)) {
            if (/:$/.test(match)) {
              cls = "key";
            } else {
              cls = "string";
            }
          } else if (/true|false/.test(match)) {
            cls = "boolean";
          } else if (/null/.test(match)) {
            cls = "null";
          }
          return '<span class="' + cls + '">' + match + "</span>";
        }
      );
    }
    (function () {
      var elements = document.getElementsByClassName("json");
      for (var i = 0; i < elements.length; i++) {
        var obj = JSON.parse(elements[i].innerText);
        elements[i].innerHTML = syntaxHighlight(JSON.stringify(obj, undefined, 4));
      }

      var elements = document.getElementsByClassName("created_at");
      for (var i = 0; i < elements.length; i++) {
        var createdAt = new Date(elements[i].innerText);
        elements[i].innerHTML = createdAt.toLocaleString();
      }

    })();
  </script>
</body>

</html>
